In [13]:
import yfinance as yf
AGG = yf.Ticker('AGG')
SPY = yf.Ticker('SPY')
AGGS = AGG.history(period='max').copy()
AGGS.index = AGG.history(period='max').index.strftime('%Y-%m-%d')
AGGS['Adj Close'] = AGGS['Close']
AGGS.to_csv('AGG.csv')
SPYS = SPY.history(period='max').copy()
SPYS.index = SPYS.index.strftime('%Y-%m-%d')
SPYS['Adj Close'] = SPYS['Close']
SPYS.to_csv('SPY.csv')

In [12]:
SPYS['Close']

Date
1993-01-29 00:00:00-05:00     25.218233
1993-02-01 00:00:00-05:00     25.397585
1993-02-02 00:00:00-05:00     25.451393
1993-02-03 00:00:00-05:00     25.720427
1993-02-04 00:00:00-05:00     25.828049
                                ...
2023-01-10 00:00:00-05:00    390.579987
2023-01-11 00:00:00-05:00    395.519989
2023-01-12 00:00:00-05:00    396.959991
2023-01-13 00:00:00-05:00    398.500000
2023-01-17 00:00:00-05:00    397.769989
Name: Close, Length: 7546, dtype: float64

In [ ]:
AGGS.to_csv('AGG.csv')

In [5]:
AGGS = AGG.history(period='max',auto_adjust=True).copy()

In [6]:
AGGS

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2003-09-29 00:00:00-04:00,56.043718,56.049199,55.939618,55.977970,13600,0.0,0.0,0.0
2003-09-30 00:00:00-04:00,56.049192,56.290261,56.043712,56.268345,62600,0.0,0.0,0.0
2003-10-01 00:00:00-04:00,56.235498,56.295766,56.213582,56.240978,66300,0.0,0.0,0.0
2003-10-02 00:00:00-04:00,55.994431,56.240985,55.890335,56.153320,68900,0.0,0.0,0.0
2003-10-03 00:00:00-04:00,55.912236,55.912236,55.720471,55.747868,64500,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-01-11 00:00:00-05:00,99.279999,99.570000,99.260002,99.570000,6102900,0.0,0.0,0.0
2023-01-12 00:00:00-05:00,99.839996,100.529999,99.489998,100.290001,8342700,0.0,0.0,0.0
2023-01-13 00:00:00-05:00,100.019997,100.260002,99.830002,99.919998,6718500,0.0,0.0,0.0
2023-01-17 00:00:00-05:00,99.739998,99.959999,99.650002,99.739998,8174700,0.0,0.0,0.0
2023-01-18 00:00:00-05:00,100.760002,100.870003,100.370003,100.495003,3257645,0.0,0.0,0.0

In [31]:
# Encapsulation
import yfinance as yf
def get_ticker(ticker):
    x = yf.Ticker(ticker)
    rlt = x.history(period='max').copy()
    rlt.index = x.history(period='max').index.strftime('%Y-%m-%d')
    if 'Adj Close' not in rlt.columns:
        rlt['Adj Close'] = rlt['Close']
    return rlt

In [32]:
symbol_list = ['XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK', 'XLP', 'XLU', 'XLV', 'XLY']

In [33]:
for s in symbol_list:
    get_ticker(s).to_csv(f'./datasource/{s}.csv')

## 关于deque

In [35]:
from collections import deque

In [36]:
a = deque(maxlen=10)

In [84]:
a.append(5)

In [91]:
import numpy as np

In [92]:
np.mean(a)

4.1

In [88]:
test = {'a':123}

In [89]:

test.update({'b':22})

In [90]:
test

{'a': 123, 'b': 22}

In [95]:
import pandas as pd

In [96]:
aa = pd.Series([1,2,3,4,5])

In [98]:
aa.shift(1)

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [99]:
def test():
    yield 1
    yield 2

In [101]:
a = test()

In [105]:

next(a)

StopIteration:

In [147]:
a = iter([1,2,3,4])

In [148]:
def getta():
    for i,x in enumerate(a):
        yield(x)

In [152]:
next(getta())

4

In [110]:
class fetch(object):
    def __init__(self,lst):
        self.a = lst
    def __iter__(self):
        for i, x in enumerate(self.a):
            yield x

In [111]:
aaa = fetch([1,2,3,4])

In [114]:
aaa.__iter__()

In [165]:
a = {'a':123}
b = {'b':234, 'c':11, 'a':999}

In [166]:
{**a,**b}

{'a': 999, 'b': 234, 'c': 11}

In [168]:
'a' in {**a,**b}.keys()

True

In [6]:
import pandas as pd

In [4]:
from typing import Union

In [5]:
def ttee(a:Union[str, int, float],b):
    return a + b

In [6]:
ttee(1,2)

3

In [1]:
from test import ttee

In [2]:
ttee(1,2)

3

In [7]:
import pandas as pd

In [35]:
a = pd.DataFrame([1,2,3],index=['aaa','bbb','ddd'])

In [36]:
a

     0
aaa  1
bbb  2
ddd  3

In [37]:
a.index.get_indexer(['ddd'],method='pad')

array([2])

In [38]:
a.iloc[a.index.get_indexer(['ddd'],method='pad')]

     0
ddd  3

In [44]:
class Student:
    def __init__(self, info):
        self.info = info

In [45]:
info = '11112332'

In [46]:
id(info)

140674162269040

In [47]:
s1 = Student(info)

In [49]:
id(s1.info)

140674162269040

In [50]:
import numpy as np

In [56]:
aa = np.array([1,2,3,4.])

In [1]:
import yfinance as yf

In [12]:
x = yf.Ticker('399300.SZ')
rlt = x.history(period='max')

399300.SZ: 1d data not available for startTime=-2208994789 and endTime=1674874579. Only 100 years worth of day granularity data are allowed to be fetched per request.

In [13]:
rlt

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [14]:
import akshare as ak

In [ ]:
def get_ticker

In [27]:
df = ak.stock_zh_a_hist(symbol="000001", adjust="").iloc[:,:6]

In [29]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']

In [32]:
df.set_index('Date',inplace=True)

In [34]:
df['Adj Close'] = df['Close']

In [42]:
ak.index_zh_a_hist(symbol="000300", period="daily").iloc[:,:6]

              日期       开盘       收盘       最高       最低        成交量
0     2005-01-04   994.77   982.79   994.77   980.66    7412868
1     2005-01-05   981.58   992.56   997.32   979.88    7119108
2     2005-01-06   993.33   983.17   993.79   980.33    6288029
3     2005-01-07   983.05   983.96   995.71   979.81    7298694
4     2005-01-10   983.76   993.88   993.96   979.79    5791697
...          ...      ...      ...      ...      ...        ...
4383  2023-01-16  4077.88  4137.96  4177.10  4076.64  151395455
4384  2023-01-17  4138.84  4137.24  4148.58  4118.16   95479040
4385  2023-01-18  4140.10  4130.31  4151.46  4125.77   84200645
4386  2023-01-19  4125.58  4156.01  4156.01  4105.98   94608398
4387  2023-01-20  4166.84  4181.53  4189.83  4161.67  123553809

[4388 rows x 6 columns]

In [47]:
from pandas_market_calendars import get_calendar
import pandas as pd
import datetime

shanghai_calendar = get_calendar('SSE')
today = pd.Timestamp(datetime.datetime.now())
trade_days = shanghai_calendar.valid_days(start_date=today - pd.DateOffset(days=365*30), end_date=today)
prev_trade_day = trade_days.shift(1, freq='D')[0]

In [106]:
te = shanghai_calendar.valid_days(start_date='20060101',end_date='20070101')[0]

In [61]:
xxx = shanghai_calendar.valid_days(start_date='20010101',end_date='20020202')

In [113]:
[x.weekday() for x in xxx]

[1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4]

In [110]:
te.weekday()

2

In [62]:
xxx =list(xxx)

In [64]:
from itertools import groupby

In [74]:
for t, x in groupby(xxx, lambda x:(x.year,x.month)):
    print(len(list(x)))

14
18
22
21
18
21
22
23
20
18
22
21
20
1

In [75]:
import pandas as pd

In [96]:
aa = pd.Series([1,2,3])

In [97]:
bb = aa.copy(deep=False)

In [98]:
bb[1] = 999