In [13]:
import yfinance as yf
AGG = yf.Ticker('AGG')
SPY = yf.Ticker('SPY')
AGGS = AGG.history(period='max').copy()
AGGS.index = AGG.history(period='max').index.strftime('%Y-%m-%d')
AGGS['Adj Close'] = AGGS['Close']
AGGS.to_csv('AGG.csv')
SPYS = SPY.history(period='max').copy()
SPYS.index = SPYS.index.strftime('%Y-%m-%d')
SPYS['Adj Close'] = SPYS['Close']
SPYS.to_csv('SPY.csv')

In [12]:
SPYS['Close']

Date
1993-01-29 00:00:00-05:00     25.218233
1993-02-01 00:00:00-05:00     25.397585
1993-02-02 00:00:00-05:00     25.451393
1993-02-03 00:00:00-05:00     25.720427
1993-02-04 00:00:00-05:00     25.828049
                                ...
2023-01-10 00:00:00-05:00    390.579987
2023-01-11 00:00:00-05:00    395.519989
2023-01-12 00:00:00-05:00    396.959991
2023-01-13 00:00:00-05:00    398.500000
2023-01-17 00:00:00-05:00    397.769989
Name: Close, Length: 7546, dtype: float64

In [ ]:
AGGS.to_csv('AGG.csv')

In [5]:
AGGS = AGG.history(period='max',auto_adjust=True).copy()

In [6]:
AGGS

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2003-09-29 00:00:00-04:00,56.043718,56.049199,55.939618,55.977970,13600,0.0,0.0,0.0
2003-09-30 00:00:00-04:00,56.049192,56.290261,56.043712,56.268345,62600,0.0,0.0,0.0
2003-10-01 00:00:00-04:00,56.235498,56.295766,56.213582,56.240978,66300,0.0,0.0,0.0
2003-10-02 00:00:00-04:00,55.994431,56.240985,55.890335,56.153320,68900,0.0,0.0,0.0
2003-10-03 00:00:00-04:00,55.912236,55.912236,55.720471,55.747868,64500,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-01-11 00:00:00-05:00,99.279999,99.570000,99.260002,99.570000,6102900,0.0,0.0,0.0
2023-01-12 00:00:00-05:00,99.839996,100.529999,99.489998,100.290001,8342700,0.0,0.0,0.0
2023-01-13 00:00:00-05:00,100.019997,100.260002,99.830002,99.919998,6718500,0.0,0.0,0.0
2023-01-17 00:00:00-05:00,99.739998,99.959999,99.650002,99.739998,8174700,0.0,0.0,0.0
2023-01-18 00:00:00-05:00,100.760002,100.870003,100.370003,100.495003,3257645,0.0,0.0,0.0

In [31]:
# Encapsulation
import yfinance as yf
def get_ticker(ticker):
    x = yf.Ticker(ticker)
    rlt = x.history(period='max').copy()
    rlt.index = x.history(period='max').index.strftime('%Y-%m-%d')
    if 'Adj Close' not in rlt.columns:
        rlt['Adj Close'] = rlt['Close']
    return rlt

In [32]:
symbol_list = ['XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK', 'XLP', 'XLU', 'XLV', 'XLY']

In [33]:
for s in symbol_list:
    get_ticker(s).to_csv(f'./datasource/{s}.csv')

## 关于deque

In [35]:
from collections import deque

In [36]:
a = deque(maxlen=10)

In [84]:
a.append(5)

In [91]:
import numpy as np

In [92]:
np.mean(a)

4.1

In [88]:
test = {'a':123}

In [89]:

test.update({'b':22})

In [90]:
test

{'a': 123, 'b': 22}

In [95]:
import pandas as pd

In [96]:
aa = pd.Series([1,2,3,4,5])

In [98]:
aa.shift(1)

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [99]:
def test():
    yield 1
    yield 2

In [101]:
a = test()

In [105]:

next(a)

StopIteration:

In [147]:
a = iter([1,2,3,4])

In [148]:
def getta():
    for i,x in enumerate(a):
        yield(x)

In [152]:
next(getta())

4

In [110]:
class fetch(object):
    def __init__(self,lst):
        self.a = lst
    def __iter__(self):
        for i, x in enumerate(self.a):
            yield x

In [111]:
aaa = fetch([1,2,3,4])

In [114]:
aaa.__iter__()